@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    scroll-behavior: smooth;
    transition: all 0.2s ease-in-out;
}
#main_nav{
    background-color: rgba(23, 23, 65, 0);
    /* border-bottom: 3px solid orange; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;

}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}
.logo p{
    color: white;
    font-size: 33px;
    font-weight: 700;

}
.logo span{
    color: orange;
}

.right a{
    text-decoration: none;
    color: white;
    padding: auto auto;
    height: 100px;
}

a:is(:link,:active, :visited).active{
    border-bottom: 3px solid white;
    font-weight: 900;
}

.right{
    display: flex;
    gap: 40px;
}

.navs{
    height: 100%;
    padding: auto auto;
}
/* .nfts::-webkit-scrollbar {
    display: block;
  } */


  ::-webkit-scrollbar {
    width: 10px;
    height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f100;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(204, 200, 200);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(185, 185, 185);
}


.container{
    padding: 50px;
    font-size: 20px;
    font-weight: 600;
    margin-left: 10%;
}
body{
    /* background-image: linear-gradient(to right, rgb(177, 104, 36),rgba(24, 24, 173, 0.747));
     */
     background-color: rgb(26, 26, 90);
}
.container .para-1{
    font-weight: 900;
    color: orange;
}
.container .para-2{
    
    font-weight: 500;
    color: white;
    margin: 50px 0px;
}
.paras{
    position: absolute;
    top: 300px;
}
.container h1{
    font-size: 70px;
    font-weight: 900;
    color: white;
    z-index: 9;
    position: absolute;
    
}
.container h1 span{
    font-weight: 900;
    color: orange;
    z-index: 9;
}

header{
    z-index: 10;
}
.glow{
    height: 300px;
    width: 300px;
    border-radius: 150px;
    filter: blur(180px);
    background-color: white;
    position: absolute;
    top: -50px;
    right: -100px;
    z-index: 1;
}

.glow_left{
    position: absolute;
    left: -80px;
    top: 60%;
}
.options{
    /* display: flex; */
    display: flex;
    
    gap: 60px;
}

.button{
    font-size: 16px;
    text-decoration: none;
    max-width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 600;
    background-color: orange;
    padding: 10px 20px;
}
.rectangle{
    background-color: orange;
    width: 200px;
    height: 60px;
    z-index: 1;
    position: relative;
    top: 50px;
}

/* .seller{
    width: 200px;
    display: flex;
    
    border: 2px solid white;
    background: transparent;
} */
    .options .seller-btn{
    width: 190px;
    text-align: center;
    padding: 10px;
    /* height: 50px; */
    border: 3px solid white;
    padding: 2px ;
}
   .button{
    background:transparent ;
    font-size: 14px;
    text-align: center;
    color:white;
}

#hamburger{
    display: none;
}

/* Responsive for devices below 768px */


@media only screen and (max-width:768px){
    body{
        overflow-x: hidden;
        width: 100%;
    }
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    
    }
    #hamburger{
        display: block;
    }
    .logo p{
        color: white;
        font-size: 23px;
        font-weight: 700;
    
    }
    .logo span{
        color: orange;
    }
    
    .right{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    
    .navigations{
        display: none;
    }

    .glow_right{
        position: absolute;
        top: 100px;
        right: -250px;
        display: none;
    }
    .glow_left{
        position: absolute;
        top: 65%;
        left: -150px;
    }

    .paras{
        position: relative;
        top: 300px;
        /* right: -60px; */
    }
    .main_body{
        /* position: fixed; */
    }
    .container{
        margin-left: 0px;
    }
}
.show{
    display: block;
}